{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sobre mi</h1>
            <span class="subheading">Un poco sobre mi.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Siempre me gustó mucho la programacion, en pandemia, mientras estudiaba Ingenieria en Agronomia, me metí a mi primer curso online de programacion.</p>
        <p>Luego descubrí que era realmente lo que me gustaba, asi que cuando me gradué de la universidad, me inscribí a un bootcamp completo de programacion!</p>
        <p>Ahora me encantaria poder empezar a trabajar en lo que realmente me apasiona!!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}